form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.coffee_type {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: auto;
  border: none;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}


form label, 
form legend {
  font-weight: bold;
}

.coffee_type label {
  font-weight: normal;
}

form textarea {
  resize: none;
}
form input,
form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  background-color: var(--color-dark);
  color: var(--color-cream);
  cursor: pointer;
  text-align: center;
}

form input:focus,
form textarea:focus {
  border-color: var(--color-cream);
  outline: none;
}

form select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-cream);
  cursor: pointer;
  text-align: center;
}


