<%- include("partials/header.ejs") %>
<main>
  <div>
      <h1>Contact</h1>
      <p>Pour toute question, n'hésitez pas à nous contacter.</p>
      <% if (okMessage) { %>
          <p class="okMessage"><%= okMessage %></p>
      <% } %>
      <% if (errorMessage) { %>
          <p class="errorMessage"><%= errorMessage %></p>
      <% } %>
  </div>

  <form action="/contact" method="POST">
    <div>
      <label for="name">Nom :</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="email">Email :</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="message">Message :</label>
      <textarea id="message" name="message" rows="4" required></textarea>
    </div>
    <button class="button" type="submit">Envoyer</button>
  </form>
</main>

<%- include("partials/footer.ejs") %>
