<%- include("partials/header.ejs") %>
<main>
    <div>
        <h1>Créer un utilisateur</h1>
        <% if (errorMessage) { %>
            <div class="error"><%= errorMessage %></div>
        <% } %>
    </div>
    <form action="" method="POST">
        <div>
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="is_admin">Rôle :</label>
            <select id="is_admin" name="is_admin">
                <option value="true">Administrateur</option>
                <option value="false">Utilisateur</option>
            </select>
        </div>
        <button class="button" type="submit">Créer</button>
    </form>
    <a class="button" href="/admin/manageUsers">Retour à la gestion des utilisateurs</a>
</main>
<%- include("partials/footer.ejs") %>